*.swp
*~
#Ignore eclipse workspace files
.project
.metadata

#Ignore project files
*/.project
*/.settings
*/.classpath

#Ignore build folders
*/build
*/bin
.gradle/
ros_blockworld/description.jardesc

#Ignore mas temp files
mas/*/*.log
2apl_fork/*
apl_runner/APDescription.txt
apl_runner/MTPs-Main-Container.txt
*/doc/
*/javadoc.xml
